body, html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    height: 100%;
    margin: 0;
    z-index: 1;
    padding: 0%;
}

.navbar {
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 4px 0;
    padding-left:  0 20px;
   
}

.navbar a {
    text-decoration: none;
    color: rgb(11, 11, 11);
    padding:  0 150px ;
    text-align: center;
    display: block;
}


#bg-image{
    position:absolute;
    left:50%;
    top:50%;
    width: 120%;
    height: 120%;
    transform:translate(-50%,-50%);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    opacity: .9;
    z-index: -1;
    
}

.menu {
    display: flex;
    flex-direction: column;
    z-index: 2; /* This brings the menu above the background image */
    padding-top: 80px; /* Adjust this value to set the distance from the navbar */
    padding-left: 30%;
}

.Text {
    margin-bottom: 30px;
}

.Text a {
    text-decoration: none;
    color: rgb(244, 93, 93);
}

#heading {
    font-size: 24px;
    margin-bottom: 5px;
}

#subheading {
    font-size: 18px;
    margin-bottom: 5px;
}

#dates {
    font-size: 16px;
    color: #070707;
}

.Text a {
    text-decoration: none;
    color: rgb(2, 12, 45);
    transition: color 0.3s ease;
    z-index: 2;
}

.Text a:hover {
    color: #f9ed04; /* This is a blue color, you can change it to any color you prefer */
}

.images{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 2;
}

img{
    vertical-align: center;
    
}


.pressimage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Increased gap for more separation */
    padding-top: 100px; /* More vertical padding */
}

.pressimage {
    width: 750px;
    height: auto;
    box-shadow: 4px 4px 8px rgba(253, 67, 222, 0.953); /* Add drop shadow */
    display: block; /* Ensures each image is on its own line */
    margin-bottom: 40px; /* Additional space between images */
}

    
